<div class="center">
    <ul>
        <li>
            {{name}}
        </li>
        <li>
            {{emailAddress}}
        </li>
        <li>
            state: {{state}}
        </li>
    </ul>

</div>
<a class="center" href="/people">Do it again!</a>